<div class="container">
  <div class="row">
    <h1>Job details</h1>
  </div>
  <div class="row">
    <div id="map">Map</div>
  </div>
  <div class="row">
    <div>
      <h2>Job listings</h2>
      <ul>
        <% @jobs.each do |job| %>
          <li><%= link_to job.title, job_path(job) %> <%= job.user.first_name %> needs help on <%= job.due_date %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
