<div class="container">
  <div class="row">
    <h1>Confirmed bookings</h1>
  </div>
  <div class="row">
    <h1>Pending bookings</h1>
  </div>
  <div class="row">
    <h1>Past bookings</h1>
  </div>
</div>
