<div class="card-product p-3 shadow">
  <div class="mx-auto p-3 d-flex flex-column justify-content-between">
    <div class="row my-3">
      <% if booking.job.category.name == 'Groceries' %>
        <i class="fas fa-shopping-basket card-product-category mb-3 text-center mx-auto"></i>
      <% elsif booking.job.category.name == 'Medicine' %>
        <i class="fas fa-briefcase-medical card-product-category mb-3 text-center mx-auto"></i>
      <% else %>
        <i class="fas fa-question-circle card-product-category mb-3 text-center mx-auto"></i>
      <% end %>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="ml-3"></h4>
      </div>
    </div>
    <div class="row mt-3 mx-3">
      <p><%= booking.user.first_name %> wants to help you </p>
    </div>
    <div class="row ml-3">
      <%= link_to job_booking_path(booking.job.id, booking.id) do %>
    <button class="btn btn-outline-primary"> Booking details</button>
        <% end %>
    </div>
  </div>
</div>
