<div class="bg-dark text-white justify-content-center overflow-hidden sticky-bottom">

  <div class="row">
    <div class="col">
      <p class="text-center pt-3">
        Thank you for visiting
        <a href="https://github.com/benediktms/local-response" class="text-reset text-monospace text-danger">Local Response</a>
        . Made with <i class="fas fa-heart text-danger"></i> by Local Response @
        <a href="https://www.lewagon.com/" class="text-reset text-monospace text-danger">Le Wagon</a>
      </p>
    </div>
  </div>

</div>
