<div class="container">

<div class="container ">
    <div class="row">
      <div class="cards-product justify-content-center">
          <div class="card-product col-12 mx-3 my-3 ">
            <div class="card-product-info">
              <h2>Nikki Booth</h2>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="container ">
    <div class="row">
      <div class="cards-product justify-content-center">
          <div class="card-product col-12 mx-3 my-3 ">
            <div class="card-product-info">
              <h2>Bruno Rovani</h2>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="container ">
    <div class="row">
      <div class="cards-product justify-content-center">
          <div class="card-product col-12 mx-3 my-3 ">
            <div class="card-product-info">
              <h2>Benedikt Schnatterbeck</h2>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="container ">
    <div class="row">
      <div class="cards-product justify-content-center">
          <div class="card-product col-12 mx-3 my-3 ">
            <div class="card-product-info">
              <h2>Jayanthi Selvaraj</h2>
            </div>
          </div>
      </div>
    </div>
</div>


</div>