<div class="container">

<div class="card-product">
    <div class="card-product-infos">
    <h2> <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars0.githubusercontent.com/u/61873199?s=460&u=c3fcdab175ad55d5e4e35e300ea63c472ca28192&v=4" /> Nikki Booth</h2>
    <p>I currently work at Depop. I want to change careers and enter the technical side of the industry I already work in. By the end of Le Wagon I hope to know which field I want to pursue! As of now I am open to seeing what I am most passionate about.</p>
    </div>
</div>

<div class="card-product">
    <div class="card-product-infos">
    <h2><img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars0.githubusercontent.com/u/61885937?s=400&u=9828c7e543ebd4ccd9250c1c96efe9ba5f3a7833&v=4" /> Bruno Rovani</h2>
    <p>I trained as an engineer and currently work in a solutions business in the financial services industry. My goal is to learn code and be able to use these skills in a role mixing finance and tech.</p>
    </div>
</div>

<div class="card-product">
    <div class="card-product-infos">
    <h2><img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars1.githubusercontent.com/u/48836135?s=460&u=4e79f7b74f6953edebde8d971bd3e6dde652d4c4&v=4" /> Benedikt Schnatterbeck</h2>
    <p>I'm a digital marketing executive, which is where I first got exposed to HTML, CSS and Javascript. I found it so interesting that I decided I wanted to peruse a career in web development. I love technology and I'm always eager to learn more :)</p>
    </div>
</div>

<div class="card-product">
    <div class="card-product-infos">
    <h2><img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars2.githubusercontent.com/u/62852010?s=460&u=afbb6db0ed9c50d9245dd533023cdbc6b942f8c2&v=4" /> Jayanthi Selvaraj</h2>
    <p>I work as a digital transformation consultant. I joined Le Wagon to gain hands on experience being a coder so I can better understand engineering teams, and hopefully bridge the gap between the 'product' and 'tech' divide we commonly experience in the workplace.</p>
    </div>
</div>

</div>