<div class="container">

<div class="row">
  <h3> Accessibility </h3>
  <p> Local response is committed to providing a website that is accessible and easy to use for the widest range of visitors possible, regardless of disability or impairment. We believe that this is an ongoing process and are constantly seeking to improve in this area.
  The site has been designed to adhere to best practice by following W3C standards. Pages have been built to comply with a minimum standard of WCAG 2.0 single 'A' guidelines. Wherever possible we aim to extend this to 'AA' and 'AAA' compliance.
  There are a number of steps we have taken to address accessibility needs that are detailed below: </p>
</div>

<div class="row">
  <h3> Layout </h3>
  <p> The site uses Cascading Style Sheets (CSS) to control all presentation and layout so that content is well structured and easily accessible via assistive devices.</p>
</div>

<div class="row">
  <h3> Further information </h3>
<p> More information on how to make your browsing experience easier is available for the BBC's My Web My Way website. This includes advice and help for those who may benefit from making changes to their browser, operating system or computer to be able to view the web in a more accessible way.</P>
</div>

</div>