<div class="container">

<div class="row">
  <h3> Accessibility </h3>
  <p> Local response is committed to providing a website that is accessible and easy to use for the widest range of visitors possible, regardless of disability or impairment. We believe that this is an ongoing process and are constantly seeking to improve in this area.
  The site has been designed to adhere to best practice by following W3C standards. Pages have been built to comply with a minimum standard of WCAG 2.0 single 'A' guidelines. Wherever possible we aim to extend this to 'AA' and 'AAA' compliance.
  There are a number of steps we have taken to address accessibility needs that are detailed below: </p>
</div>


<div class="row">
  <h3> Layout </h3>
  <p> The site uses Cascading Style Sheets (CSS) to control all presentation and layout so that content is well structured and easily accessible via assistive devices.</p>
</div>


<div class="row">
  <h3> Fonts </h3>
  <p> Text size can be increased or decreased in your browser by following these steps:

Microsoft Internet Explorer:
Choose the drop down menu at the top of the window of the browser marked "view"
A list of options will appear in the drop down menu, choose "text size"
Next another drop down menu should appear with options including "small", "medium", "large", "largest"
Select "largest".
Mozilla Firefox

Hold down the Ctrl button on your keyboard and press the plus (+) key
You will find that this will enlarge the text, to enlarge again repeat the procedure
Keep repeating until the text is enlarged to your requirements If you need to make the text smaller press Ctrl on your keyboard and the minus ( - ) key

Apple Safari:
Hold down the Apple Key and press the (+) key
You will find that this will enlarge the text, to enlarge again repeat the procedure
Keep repeating until the text is enlarged to your requirements
If you need to make the text smaller press the Apple Key on your keyboard and press the (-) key

Google Chrome:

Click the 'Customise and Control' spanner symbol in the top right hand corner (Alt + E).
Select 'Settings' ('Preferences' on Mac and Linux)
Click on 'Under the Bonnet' and customise your fonts and font size in the 'Web Content' section
IMAGES
All images used for non aesthetic reasons have descriptive alternative text.</p>
</div>


<div class="row">
  <h3> Content </h3>
  <p> Content across the site has been written and formatted to make it as accessible as possible. This includes:
The use of semantic headings which are descriptive and used to highlight sections of text
Clear and easy to understand language
Meaningful text used for all links
No information is conveyed exclusively through the use of colour</p>
</div>


<div class="row">
  <h3> Colour Contrast </h3>
  <p> Wherever possible we have designed pages and chosen colours to be accessible to colour-blind users. Where contrast is limited, we are working towards a solution by reviewing our current colour palette.</p>
</div>

<div class="row">
  <h3> Navigation aids </h3>
  <p> A sitemap is provided to assist with navigation. All pages across the site also include a link to the homepage, and have a consistent global navigation.</p>
</div>

<div class="row">
  <h3> Access keys </h3>
  <p> In order to avoid any conflict with personal access keys you may have set up on your computer, we have chosen not to install bespoke access keys on this site. Efforts have been made to ensure the site is as easy to navigate as possible.</p>
</div>

<div class="row">
  <h3> Feedback </h3>
  <p> We are continually seeking to make improvements to the site and welcome any comments, suggestions or feedback. If you are using adaptive technology and are having problems accessing information on the site, please email heretohelp@oxfam.org.uk with details of the problem you encountered and the technology you are using. </p>
</div>

<div class="row">
  <h3> Further information </h3>
<p> More information on how to make your browsing experience easier is available for the BBC's My Web My Way website. This includes advice and help for those who may benefit from making changes to their browser, operating system or computer to be able to view the web in a more accessible way.</P>
</div>


</div>