<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p> We need the login! </p>
<p>This page will highlight what Local Response is and does </p>
<%= link_to "I want to volunteer in my area", jobs_path, class: "btn btn-outline-secondary mb-2" %>
<%= link_to "I am looking for help", new_job_path, class: "btn btn-outline-secondary mb-2" %>
