
<div class="container">

<div class="row">
    <h3> Data sharing </h3>
    <p> Please be assured that you will not receive offers from other companies or organisations as a result of giving your details to us.
    We may need to share limited information with our service providers who help us to prepare and send you our communications or process your donations and other responses. However, we do not allow these organisations to use your data for their own purposes and take care to ensure that they keep your data secure, and delete it when it is no longer needed.</p>
</div>

</div>