<div class="container">

<div class="row">
    <h3> Modern Slavery Statement </h3>
    <p> The UK's Modern Slavery Act 2015 requires organisations with an annual turnover of at least £36m to make a public statement on steps they are taking to identify and prevent modern slavery in their operations and supply chains.</p>
</div>

<div class="row">
    <h3> Feminist Principles </h3>
    <p> Local Response believes in ending sexism and that women should be free of political, social, and economic oppression and exploitation.</p>
</div>

</div>