.cards-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-product {
  overflow: hidden;
  height: 120px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  font-color: black;
}
.card-product .card-product-infos h2 {
  padding: 16px;
  text-decoration: none;
  font-color: black;
}
