.cards-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
.card-product {
  overflow: hidden;
  min-height: 120px;
  width: 100%;
  background: white;
  display: flex;
}
.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.card-product a {
  text-decoration: none;
  color: black;
}

.card-product-category {
  font-size: 40px;
}

.cards-product-team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}